# 複数セグメント設定例
#
# トポロジ:
#   Internet
#      |
#   [eth0 WAN]
#    ruster
#   [eth1]  [eth2]  [eth3]
#      |       |       |
#   LAN1    LAN2    DMZ
#
# LAN1: 192.168.1.0/24 (一般ユーザー)
# LAN2: 192.168.2.0/24 (ゲスト)
# DMZ:  192.168.100.0/24 (サーバー)

[interfaces.eth0]
role = "wan"
addressing = "pppoe"

[interfaces.eth1]
role = "lan"
addressing = "static"
address = "192.168.1.1/24"
mtu = 1500

[interfaces.eth2]
role = "lan"
addressing = "static"
address = "192.168.2.1/24"
mtu = 1500

[interfaces.eth3]
role = "lan"
addressing = "static"
address = "192.168.100.1/24"
mtu = 1500

[dhcp.lan1]
range = ["192.168.1.100", "192.168.1.200"]
gateway = "192.168.1.1"
dns = ["192.168.1.1"]
lease_time = 86400

[dhcp.lan2]
range = ["192.168.2.100", "192.168.2.200"]
gateway = "192.168.2.1"
dns = ["8.8.8.8"]
lease_time = 3600  # ゲストは短め

[nat]
enabled = true
wan = "eth0"
lan = ["eth1", "eth2", "eth3"]

# 外部からDMZのWebサーバーへのルート (将来のポートフォワーディング用)
# [[routing.static_routes]]
# destination = "0.0.0.0/0"
# gateway = "pppoe"
# interface = "eth0"
